/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* GLOBAL DEFINITION */
* {
    padding: 0;
    margin: 0;
}

html,
body {
    position: relative;
    overflow-x: hidden;
}

h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
}

h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.75);
}

h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

h6 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    /* text-decoration-line: underline;
    color: #022954; */
}

p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding: 14px 0;
}

a {
    all: unset;
    cursor: pointer;
}

button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #022954;
    border-radius: 8px;
    padding: 10px 60px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 17px;
    color: #022954;
    cursor: pointer;
    box-sizing: border-box;
    width: 190px;
}

/* GLOBAL CLASSES */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.right {
    justify-content: flex-end;
}

.left {
    justify-content: flex-start;
}

.row-reverse {
    flex-direction: row-reverse;
}

.text-to-right {
    text-align: end;
}

.spacer {
    height: 100px;
}

.transparent {
    opacity: 0%;
}

.zindex6 {
    z-index: 6 !important;
}

.zindex5 {
    z-index: 5 !important;
}


/* FOOTER */
footer {
    overflow: hidden;

    .center{
        gap: 10px;
    }

    p {
        padding: 10px 0;
    }

    svg {
        padding: 10px 0;
    }
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.outgoing-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding: 0 40px;
    border-bottom: 2px solid black;
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 10px;
    }

    h6 {
        font-size: 18px;
    }

    p {
        font-size: 13px;
        padding: 10px 0;
    }

    button{
        padding: 10px 20px;
        width: 160px;
    }
    .outgoing-links{
        width: 230px;
    }
}