body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#wave1,
#wave2,
#wave3 {
    position: absolute;
    z-index: -1;
}

#wave1 {
    top: 52vh;
    animation: flow1 36s ease-in-out infinite;
}

#wave2 {
    top: 57vh;
    animation: flow1 18.5s ease-in-out infinite;
    animation-delay: -3s;
}

#wave3 {
    top: 58.5vh;
    animation: flow1 17s ease-in-out infinite;
    animation-delay: -6s;
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    backdrop-filter: blur(8px);

    h2 {
        padding: 30px;
    }
}

.path-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.path-section {
    appearance: none;
    display: flex;
    align-items: flex-start;
    width: 900px;
    height: calc((536 / 2138) * 1400px);
    opacity: 0;
    /*h-figma / h-svg-figma * h-svg-sito */
}

.path-text {
    width: 400px;


    p {
        text-align: justify;
    }
}

.appear-on-screen {
    animation: transparency-in 0.8s forwards;
}

#path {
    position: absolute;
    padding: 10px 0;
    top: 0;
}

#path>path,
#path>g {
    opacity: 0%;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 300px;
}

.contact-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.img-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.img-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 40px 100px;
    box-sizing: border-box;

    p {
        text-align: justify;
        padding: 35px 40px;
        box-sizing: border-box;
    }

    h1 {
        text-align: center;
    }
}

.img-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: gainsboro;
}

.img-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.solution-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 0;
    gap: 20px;

    h1 {
        padding: 10px;
    }
}

.solution-container {
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.solution {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    ul {
        width: 100%;
    }
}

li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    background-size: 18px 18px;

    p {
        padding: 5px;
    }
}

.check {
    background-image: url(../svg/check.svg);
}

.cross {
    background-image: url(../svg/cross.svg);
}


.hosting-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
}

.portfolio-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.portfolio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .arrows {
        cursor: pointer;
    }
}

.card-container {
    position: relative;
    width: 900px;
    height: 400px;
}

.card {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 300px;
    border-radius: 8px;
    background-size: 100% auto;
    transition: transform 0.2s ease-out;

    a {
        width: 100%;
        height: 100%;
    }
}

.card-img {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.4);
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 50%);
    backdrop-filter: blur(6px);
}

.left-el {
    transform-origin: center;
    transform:scale(0.9) translate(-80%, 0%);
    z-index: -1;
}

.left-left-el {
    transform-origin: center;
    transform:scale(0.9) translate(-80%, 0%);
    z-index: -2;
    opacity: 0;
}

.right-el {
    transform-origin: center;
    transform:scale(0.9) translate(80%, 0%);
    z-index: -1;
}

.right-right-el {
    transform-origin: center;
    transform:scale(0.9) translate(80%, 0%);
    z-index: -2;
    opacity: 0;
}

.center-el {
    .card-img {
        background-color: transparent;
        background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 50%);
        backdrop-filter: blur(0px);
    }
}

.fadeout {
    animation: transparency-in 0.2s reverse forwards;
}

.fadein {
    animation: transparency-in 0.2s forwards;
}


@keyframes flow1 {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-35%);
    }

    100% {
        transform: translateX(0%);
    }
}


@keyframes transparency-in {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}


/* NON PIU USATA */

.slide-from-right {
    opacity: 100%;
    animation: slaa-r 0.5s ease-out;
}

.slide-from-left {
    opacity: 100%;
    animation: slaa-l 0.5s ease-out;
}

@keyframes slaa-r {
    0% {
        transform: translateX(1000px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes slaa-l {
    0% {
        transform: translateX(-1000px);
    }

    100% {
        transform: translateX(0px);
    }
}


@media (max-width: 768px) {

    #wave1 {
        /* top: 55vh; */
        width: 2700px;
    }

    #wave2 {
        /* top: 57vh; */
        width: 2700px;
    }

    #wave3 {
        /* top: 58vh; */
        width: 2700px;
    }

    .spacer {
        height: 230px;
    }

    #path {
        left: 20px;
    }

    .path-text {
        padding: 0 60px;
        padding-right: 40px;
        box-sizing: border-box;
    }

    .text-to-right {
        text-align: unset;
    }

    .right {
        justify-content: center;
    }

    .left {
        justify-content: center;
    }

    .contact-section {
        padding: 0 30px;

        h1 {
            text-align: center;
        }
    }

    .contact-btn-container {
        gap: 20px;
    }

    .img-row {
        flex-direction: column;
        height: min-content;
        padding: 20px 0;
        gap: 30px;
    }

    .img-text {
        width: 300px;
        padding: 0;
        gap: 30px;

        p {
            padding: 0;
        }
    }

    .img-img {
        width: 300px;
        height: 200px;
    }

    .solution-container {
        flex-direction: column;
        gap: 40px;
    }

    .solution-section {
        gap: 40px;

        h3 {
            text-align: center;
            padding: 0 40px;
        }
    }

    .card {
        width: 243px;
        height: 324px;
    }

    .left-left-el {
        transform: scale(0.9) translate(-15%, 0%);
        /* transform: scale(0.9); */
    }

    .right-right-el {
        transform: scale(0.9) translate(15%, 0%);
        /* transform: scale(0.9); */
    }

    .left-el {
        transform: scale(0.9) translate(-15%, 0%);
        /* transform: scale(0.9); */
    }

    .right-el {
        transform: scale(0.9) translate(15%, 0%);
        /* transform: scale(0.9); */
    }

    .portfolio-container {
        gap: 0;
        width: 350px;
    }

    .card-container {
        width: 100%;
        height: 324px;
    }

    .arrows {
        width: 40px;
        height: 40px;
    }
}